p.flash {
    color: orangered;
}

.form-login .invalid {
    background: red;
}

.form-login .invalid-feedback {
    color: red;
    display: block;
}

.form-register .invalid {
    background: red;
}

.form-register .invalid-feedback {
    color: red;
    display: block;
}

.form-upload .invalid {
    background: red;
}

.form-upload .invalid-feedback {
    color: red;
    display: block;
}