<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>{{ title }}</title>
</head>
<body>
{% block content -%}
    {%- block mainmenu -%}
    <ul class="list-group list-group-horizontal-md">
        {% for item_name,item_url in main_menu.items() -%}
        <li class="list-group-item"><a href="{{item_url}}">{{item_name}}</a></li>
        {% endfor -%}
    </ul>
    {% endblock mainmenu -%}
{% endblock content -%}
</body>
</html>