{{ form.hidden_tag() }}
{% for field in form  if field.name not in ['csrf_token', 'submit'] -%}
    <p>{{ field.label() }}<br>
        {% if field.errors %}
            {{ field(class="invalid") }}
            <span class="invalid-feedback">
                {% for e in field.errors %}
                    {{ e }}
                {% endfor %}
            </span>
        {% else %}
            {{ field() }}
        {% endif %}
    </p>
{% endfor %}
<p>{{ form.submit() }}</p>