{% extends 'base.html' %}

{% block content -%}
{{ super() }}
<h1> {{ title }} </h1>
{% for key,value in profiledata.items() -%}
<p>{{key}}: {{value}}</p>
{% endfor -%}
{% if picture %}
    <img src="{{ url_for('static', filename=picture) }}" alt="Profile picture">
    <form action = "/rotate" method="post">
        {{ form_rotate.hidden_tag() }}
        <p>{{ form_rotate.submit() }}</p>
    </form>
    <form action = "/save" method="post">
        {{ form_save.hidden_tag() }}
        <p>{{ form_save.submit() }}</p>
    </form>
{% else %}
    <img src="{{ url_for('static', filename='img/default.png') }}" alt="Profile picture">
{% endif %}
{% include "flash.html" %}
<form action = "/upload" method="post" enctype="multipart/form-data" class="form-upload">
    {% include "form_fields.html" %}
</form>
{% endblock content -%}