{% extends 'base.html' %}

{% block content -%}
{{ super() }}
<h1> {{ title }} </h1>
{% include "flash.html" %}
<form action = "/signin" method="post" class="form-login">
    {% include "form_fields.html" %}
</form>
{% endblock content -%}